# Traffic Collision Data
## From the City of Seattle

In [6]:
# Pandas Library & csv reading dataset
import pandas as pd
filename = 'Data-Collisions.csv'
df = pd.read_csv(filename)
# df.to_csv("clean_collision.csv", index=False)  ## For later use

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:


df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [16]:


print('Attributes:\n',df.columns)
print('Format:\n',df.dtypes)

Attributes:
 Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')
Format:
 SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

Data Contains 37 attributes but some of them are not of the interest for this work. Here are the attributes to be used:
there will be a selection of 22 attributes (2 describing Labeled data Severity) and 2 describing coords.
SEVERITYCODE: 2:Injury / 1:Property Damage        
X           : X-coord location. Not planned to be used     
Y           : Y-coord location. Not planned to be used    
ADDRTYPE    : Intersection / Block      
LOCATION    : NPL location       
SEVERITYDESC: NPL Severity Description       
COLLISIONTYPE: Angle, Sideswipe, Parked Car, etc.       
PERSONCOUNT : # People involved        
PEDCOUNT    : # Pedestrians involved        
PEDCYLCOUNT : # cyclists involved        
VEHCOUNT    : # Vehicles involved        
INCDATE     : Incident Date       
INCDTTM     : Incident Time      
JUNCTIONTYPE: Junction type (Intersection, Midblock, Driveway, etc)       
SDOT_COLCODE: Code of Collision Description
SDOT_COLDESC: NPL Collision Description       
WEATHER     : Weather Condition (Overcast, Rainy, Clear, etc)       
ROADCOND    : Wet / Dry      
LIGHTCOND   : Daylight, Dark, Dark Street Lights on, Dark No street lights, etc)       
SPEEDING    : Y/N       
ST_COLCODE  : Code for description of Collision (Different view)       
ST_COLDESC  : NPL Description

#### DF Drop of non-used Columns

In [31]:
# simply drop whole row with NaN in "price" column
df.drop(['OBJECTID'], axis=1, inplace=True)
df.drop(["INCKEY"], axis=1, inplace=True)
df.drop(["COLDETKEY"], axis=1, inplace=True)
df.drop(["REPORTNO"], axis=1, inplace=True)
df.drop(["STATUS"], axis=1, inplace=True)
df.drop(["INTKEY"], axis=1, inplace=True)
df.drop(["EXCEPTRSNCODE"], axis=1, inplace=True)
df.drop(["EXCEPTRSNDESC"], axis=1, inplace=True)
df.drop(["SEVERITYCODE.1"], axis=1, inplace=True)
df.drop(["INATTENTIONIND"], axis=1, inplace=True)
df.drop(["UNDERINFL"], axis=1, inplace=True)
df.drop(["PEDROWNTGRNT"], axis=1, inplace=True)
df.drop(["SDOTCOLNUM"], axis=1, inplace=True)

In [33]:
df.drop(["SEGLANEKEY"], axis=1, inplace=True)
df.drop(["CROSSWALKKEY"], axis=1, inplace=True)
df.drop(["HITPARKEDCAR"], axis=1, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

df.head(5)

,SEVERITYCODE,X,Y,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,SDOT_COLCODE,SDOT_COLDESC,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC
0,2,-122.323148,47.703140,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,2,0,0,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle
1,1,-122.347294,47.647172,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,2,0,0,...,16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...
2,1,-122.334540,47.607871,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,4,0,0,...,14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving
3,1,-122.334803,47.604803,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,3,0,0,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others
4,2,-122.306426,47.545739,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,2,0,0,...,11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle

In [34]:
# Some statistics for the full dataset
df.describe(include='all')

,SEVERITYCODE,X,Y,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,SDOT_COLCODE,SDOT_COLDESC,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC
count,194673.000000,189339.000000,189339.000000,192747,191996,194673,189769,194673.000000,194673.000000,194673.000000,...,194673.000000,194673,189592,189661,189503,4667,1.149360e+05,9333,194655,189769
unique,NaN,NaN,NaN,3,24102,2,10,NaN,NaN,NaN,...,NaN,39,11,9,9,1,NaN,1,115,62
top,NaN,NaN,NaN,Block,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,Property Damage Only Collision,Parked Car,NaN,NaN,NaN,...,NaN,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Clear,Dry,Daylight,Y,NaN,Y,32,One parked--one moving
freq,NaN,NaN,NaN,126926,276,136485,47987,NaN,NaN,NaN,...,NaN,85209,111135,124510,116137,4667,NaN,9333,27612,44421
mean,1.298901,-122.330518,47.619543,NaN,NaN,NaN,NaN,2.444427,0.037139,0.028391,...,13.867768,NaN,NaN,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN
std,0.457778,0.029976,0.056157,NaN,NaN,NaN,NaN,1.345929,0.198150,0.167413,...,6.868755,NaN,NaN,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN
min,1.000000,-122.419091,47.495573,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN
25%,1.000000,-122.348673,47.575956,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,...,11.000000,NaN,NaN,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN
50%,1.000000,-122.330224,47.615369,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,...,13.000000,NaN,NaN,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN
75%,2.000000,-122.311937,47.663664,NaN,NaN,NaN,NaN,3.000000,0.000000,0.000000,...,14.000000,NaN,NaN,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN
max,2.000000,-122.238949,47.734142,NaN,NaN,NaN,NaN,81.000000,6.000000,2.000000,...,69.000000,NaN,NaN,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN

#### Labeled Data Values (Dependent Variable for the ML Model)
#### Note this dataset doesn't include fatalities.

In [19]:
print('Values for Severity Code:\n',df['SEVERITYCODE'].value_counts())
print('Values for Severity Desc:\n',df['SEVERITYDESC'].value_counts())

Values for Severity Code:
 1    136485
2     58188
Name: SEVERITYCODE, dtype: int64
Values for Severity Desc:
 Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

#### Some values need to be replaced or rows w/o values need to be removed. For example null value in speeding will be 'N'

In [13]:
# For later use changing some values
import numpy as np

# replace "?" to NaN
#df.replace("?", np.nan, inplace = True)
#df.head(5)

missing_data = df.isnull()
missing_data.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False

#### An Initial and simple correlation between valued columns. Need to convert other columns to values (in Data Preparation stage)

In [35]:
df.corr()

,SEVERITYCODE,X,Y,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM
SEVERITYCODE,1.000000,0.010309,0.017737,0.130949,0.246338,0.214218,-0.054686,0.188905,0.004226
X,0.010309,1.000000,-0.160262,0.012887,0.011304,-0.001752,-0.012168,0.010904,-0.001016
Y,0.017737,-0.160262,1.000000,-0.013850,0.010178,0.026304,0.017058,-0.019694,-0.006958
PERSONCOUNT,0.130949,0.012887,-0.013850,1.000000,-0.023464,-0.038809,0.380523,-0.128960,0.011784
PEDCOUNT,0.246338,0.011304,0.010178,-0.023464,1.000000,-0.016920,-0.261285,0.260393,0.021461
PEDCYLCOUNT,0.214218,-0.001752,0.026304,-0.038809,-0.016920,1.000000,-0.253773,0.382521,0.034593
VEHCOUNT,-0.054686,-0.012168,0.017058,0.380523,-0.261285,-0.253773,1.000000,-0.365814,-0.023813
SDOT_COLCODE,0.188905,0.010904,-0.019694,-0.128960,0.260393,0.382521,-0.365814,1.000000,-0.041084
SDOTCOLNUM,0.004226,-0.001016,-0.006958,0.011784,0.021461,0.034593,-0.023813,-0.041084,1.000000

#### NOTE: Check Data Wrangling (C6) for more info about droping, changing/replacing rows/columns during the data preparation.

In [ ]:
# simply drop whole row with NaN in "price" column
#df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
#df.reset_index(drop=True, inplace=True)